@import url("https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&family=Lato:ital,wght@0,100;1,100;1,300;1,400;1,700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Akaya Kanadaka", cursive;
  font-size: 18px;
}

#hero {
  height: 80vh;
  width: 100%;
  background: url("images/background/contact.svg") no-repeat center bottom /
    cover;
  background-size: 50%;
  background-position: 0% 50%;
  color: whitesmoke;
}
.container {
  width: 90%;
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: right;
}
#hero .info h1 {
  font-size: 4rem;
  color: rgba(54, 73, 197, 0.815);
  margin-bottom: 1rem;
}
#hero .info h4 {
  font-size: 1.3rem;
  color: rgb(69, 66, 66);
}
.contact a {
  color: rgb(4, 4, 68);
  font-size: larger;
}
.contact {
  color: rgb(4, 4, 68);
}
.number {
  font-family: Georgia, "Times New Roman", Times, serif;
}
@media only screen and (max-width: 768px) {
  html {
    font-size: 10px;
  }
}
