@import url("https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&family=Lato:ital,wght@0,100;1,100;1,300;1,400;1,700&display=swap");
body {
  font-family: "Akaya Kanadaka", cursive;
  font-size: 18px;
  overflow-x: hidden;
}

#mem h1 {
  width: 15vw;
  margin: 10px auto;
}

.col {
  height: 70vh;
}

.card {
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.295) 0px 2px 10px 0px,
    rgba(0, 0, 0, 0.4) 0px 2px 25px 0px;
}

.card-body {
  font-family: "Lato", sans-serif;
  font-weight: bold;
  height: 30%;
}
.card-title {
  font-size: larger;
  font-weight: bolder;
}
.extra_img {
  height: 100px;
}
